body {
    margin: 0px;
    padding: 0px;
}

#canvasld3 {
    border: 1px solid #9C9898;
}

#canvasld5 {
    border: 1px solid #000000;
    background-color: #ffff00;
}

#canvasld6 {
    border: 1px solid #9C9898;
}